@import "../../node_modules/bootstrap/scss/functions";
@import "./cust-var";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; //hide for safari and chrome
}

h1,
h2 {
  font-family: "Bitter", serif;
}

.navbar {
  &.yellow-nav {
    background-color: $yellow;
    transition: background-color 0.25s ease-in-out;
  }

  &.bg-light {
    transition: background-color 0.25s ease-in-out;
  }

  .navbar-brand {
    font-family: "Bitter", serif;
    font-size: 24px;
    span {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
    }
  }

  .navbar-nav {
    .nav-item {
      text-transform: uppercase;
      color: $deepblue;
      margin-left: 32px;
      .active {
        font-weight: 600;
        position: relative;
      }
    }
  }
}

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: $body-bg;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  overflow: hidden;
  h1 {
    color: $deepblue;
    .vue-typer .custom.char.typed {
      color: inherit;
    }
    .vue-typer .custom.caret {
      background-color: $deepblue;
    }
  }
}

.waves {
  position: relative;
  bottom: 0;
  left: 50vw;
  right: 0;
  height: 100vw;
  background-color: var(--color);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: "";
  position: absolute;
  width: 225vw;
  height: 225vw;
  top: 24vh;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba($yellow, 1);
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba($yellow, 0.5);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
